<html lang="en">
<%- include('./partial/head.ejs') %>
<body style="background: linear-gradient(to right, #23bb62, #1fc5c1);">
<%- include('./partial/navbar.ejs') %>

<div class="container py-4 my-4 mx-auto d-flex flex-column" style="background-color: #000; border-radius: 10px;">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1 style="color: rgb(0, 255, 21);">
                <% if (product === 'smart-phone') { %>
                    Samsung S21
                <% } else if (product === 'Laptop') { %>
                    HP Laptop
                <% } else if (product === 'watch') { %>
                    Fire-Boltt Ninja Call Pro
                <% }else if (product === 'home-assistant') { %>
                    Smart Home Assistant
                <% }else if (product === 'sofa') { %>
                    Modern Sofa
                <% }else if (product === 'dinning-table') { %>
                    Elegant Dining Table
                <% }else if (product === 'armchair') { %>
                    Cozy Armchair
                <% }else if (product === 'bedroom') { %>
                    Stylish Bedroom Set
                <% }else if (product === 'shirt') { %>
                    Checked Shirt
                <% }else if (product === 'pant') { %>
                    Jean pant
                <% }else if (product === 'saree') { %>
                    Saree
                <% }else if (product === 'chudidar') { %>
                    Chudidar
                <% }else if (product === 'foundation') { %>
                    Flawless Foundation
                <% }else if (product === 'lipstick') { %>
                    Vibrant Lipstick Shades
                <% }else if (product === 'eyeshadow') { %>
                    Eyeshadow Palettes
                <% }else if (product === 'skincare') { %>
                    Revitalizing Skincare Sets
                <% }else { %>
                    Play Station 5
                <% } %>
            </h1>
            </div>
            <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p class="text-right text-light para">Based on 250 Review</p>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul class="li text-light">
                    <li>100% Quality</li>
                    <li>Free Shipping</li>
                    <li>Easy Returns</li>
                    <li>12 Months Warranty</li>
                    <li>EMI Starting from (On Credit Cards)</li>
                    <li>Normal Delivery : 4-5 Days</li>
                    <li>Express Delivery : 2-3 Days</li>
                    <li>COD Available (All Over India)</li>
                </ul>
            </div>
            <div class="col-md-7"> 
                <% if (product === 'smart-phone') { %>
                    <img src="/img/d-mobile.jpeg" width="90%" height="95%">
                <% } else if (product === 'Laptop') { %>
                    <img src="/img/d-laptop.jpeg" width="90%" height="95%">
                <% } else if (product === 'watch') { %>
                    <img src="/img/d-watch.jpeg" width="90%" height="95%">
                <% }else if (product === 'home-assistant') { %>
                    <img src="/img/d-home.jpeg" width="90%" height="95%">
                <% }else if (product === 'sofa') { %>
                    <img src="/img/g-sofa.jpeg" width="90%" height="95%">
                <% }else if (product === 'dinning-table') { %>
                    <img src="/img/g-table.jpeg" width="90%" height="95%">
                <% }else if (product === 'armchair') { %>
                    <img src="/img/g-armchair.jpeg" width="90%" height="95%">
                <% }else if (product === 'bedroom') { %>
                    <img src="/img/g-bedroom.jpeg" width="90%" height="95%">
                <% }else if (product === 'shirt') { %>
                    <img src="/img/g-shirt.jpeg" width="90%" height="95%">
                <% }else if (product === 'pant') { %>
                    <img src="/img/g-pant.jpeg" width="90%" height="95%"> 
                <% }else if (product === 'saree') { %>
                    <img src="/img/g-saree.jpeg" width="90%" height="95%">
                <% }else if (product === 'chudidar') { %>
                    <img src="/img/g-chudidar.jpeg" width="90%" height="95%">
                <% }else if (product === 'foundation') { %>
                    <img src="/img/g-foundation.jpeg" width="90%" height="95%">
                <% }else if (product === 'lipstick') { %>
                    <img src="/img/g-lipstick.jpeg" width="90%" height="95%">
                <% }else if (product === 'eyeshadow') { %>
                    <img src="/img/g-palette.jpeg" width="90%" height="95%">
                <% }else if (product === 'skincare') { %>
                    <img src="/img/g-makeup.jpeg" width="90%" height="95%">
                <% }else { %>
                    <img src="/img/d-ps5.jpeg" width="90%" height="95%">
                <% } %>
             </div>
        </div>
    </div>
    <div class="foot d-flex flex-column mt-5 ">
        <div class="row r4 ">
            <div class="col-md-2 myt des"><a href="#">Description</a></div>
            <div class="col-md-2 myt "><a href="#">Review</a></div>
            <div class="col-md-2 mio offset-md-4"><a href="#">ADD TO CART</a></div>
            <div class="col-md-2 myt "><button type="button" class="btn buy"><a href="#" >BUY NOW</a></button></div>
        </div>
    </div>
</div>
<%- include('./partial/footer.ejs') %>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<%- include('./partial/script.ejs') %>
</body>
</html>