<html lang="en">

<%- include('./partial/head.ejs') %>

<body>
<%- include('./partial/navbar.ejs') %>

<div class="product">
    <h1>PRODUCTS</h1>
    <div class="cat">
        <button class="active" data-target="gadget">Gadgets</button>
        <button data-target="furniture">Furnitures</button>
        <button data-target="dress">Dresses</button>
        <button data-target="cosmetic">Cosmetics</button>
    </div>
    <!--Gadgets-->
    <div id="gadget" class="show active">
    <h2 class="font-weight-bold mb-2">Gadgets</h2>
    <p class="font-italic text-muted mb-4">Explore the latest in technology with our range of cutting-edge gadgets. From sleek smartphones to powerful laptops and innovative smart devices, discover the perfect blend of style and functionality.</p>
    <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card rounded shadow-sm border-0 custom-card">
              <div class="card-body p-4">
                <img src="/img/g-mobile.jpeg" alt="smart phone" class="img-fluid d-block mx-auto mb-3">
                <h5>Samsung S21</h5>
                <p class="small text-muted font-italic">Latest smartphone with cutting-edge technology.</p>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                </ul>
                <a href="/details?product=smart-phone" target="_blank" class="abtn">View Details</a>
              </div>
            </div>
          </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card -->
        <div class="card rounded shadow-sm border-0 custom-card">
          <div class="card-body p-4">
            <img src="/img/g-laptop.jpeg" alt="Laptop" class="img-fluid d-block mx-auto mb-3">
            <h5>HP Laptop</h5>
            <p class="small text-muted font-italic">Powerful laptop for all your computing needs.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            </ul>
            <a href="/details?product=Laptop" target="_blank" class="abtn">View Details</a>
          </div>
        </div>
      </div>
  
     <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
  <!-- Card -->
  <div class="card rounded shadow-sm border-0 custom-card">
    <div class="card-body p-4">
      <img src="/img/g-watch.jpeg" alt="Smart watch" class="img-fluid d-block mx-auto mb-3">
      <h5>Fire-Boltt Ninja Call Pro</h5>
      <p class="small text-muted font-italic">Stylish wearable for tracking your fitness journey, offering advanced health monitoring features./p>
      <ul class="list-inline small">
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
      </ul>
      <a href="/details?product=watch" target="_blank" class="abtn">View Details</a>
    </div>
  </div>
</div>
  
<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
    <!-- Card -->
    <div class="card rounded shadow-sm border-0 custom-card">
      <div class="card-body p-4 pb-5">
        <img src="/img/g-home.jpeg" alt="Home assistant" class="img-fluid d-block mx-auto mb-3">
        <h5>Smart Home Assistant</h5>
        <p class="small text-muted font-italic">Innovative smart device to control your home appliances with voice commands.</p>
        <ul class="list-inline small">
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        </ul>
        <a href="/details?product=home-assistant" target="_blank" class="abtn">View Details</a>
      </div>
    </div>
  </div>
    </div>
    </div>
    <!--furnitures-->
    <div id="furniture" class="show">
    <h2 class="font-weight-bold mb-2">Furnitures</h2>
    <p class="font-italic text-muted mb-4">Explore our extensive collection of furniture to find the perfect pieces for your home. From stylish sofas and chairs to elegant dining tables and bedroom sets, our furniture combines comfort and design to create beautiful, functional living spaces.</p>
    <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card rounded shadow-sm border-0 custom-card">
              <div class="card-body p-4">
                <img src="/img/g-sofa.jpeg" alt="sofa" class="img-fluid d-block mx-auto mb-3">
                <h5>Modern Sofa</h5>
                <p class="small text-muted font-italic">Comfortable and stylish sofa that enhances your living room décor.</p>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                </ul>
                <a href="/details?product=sofa" target="_blank" class="abtn">View Details</a>
              </div>
            </div>
          </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card -->
        <div class="card rounded shadow-sm border-0 custom-card">
          <div class="card-body p-4 ">
            <img src="/img/g-table.jpeg" alt="table" class="img-fluid d-block mx-auto mb-3">
            <h5>Elegant Dining Table</h5>
            <p class="small text-muted font-italic">Beautiful dining table perfect for family gatherings and dinner parties.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            </ul>
            <a href="/details?product=dinning-table" target="_blank" class="abtn">View Details</a>
          </div>
        </div>
      </div>
  
     <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
  <!-- Card -->
  <div class="card rounded shadow-sm border-0 custom-card">
    <div class="card-body p-4">
      <img src="/img/g-armchair.jpeg" alt="armchair" class="img-fluid d-block mx-auto mb-3">
      <h5>Cozy Armchair</h5>
      <p class="small text-muted font-italic">A comfortable armchair designed for relaxation and reading.</p>
      <ul class="list-inline small">
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
      </ul>
      <a href="/details?product=armchair" target="_blank" class="abtn">View Details</a>
    </div>
  </div>
</div>
  
<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
    <!-- Card -->
    <div class="card rounded shadow-sm border-0 custom-card">
      <div class="card-body p-4">
        <img src="/img/g-bedroom.jpeg" alt="bedroom set" class="img-fluid d-block mx-auto mb-3">
        <h5>Stylish Bedroom Set</h5>
        <p class="small text-muted font-italic">Complete bedroom set that brings elegance and comfort your sleeping space.</p>
        <ul class="list-inline small">
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        </ul>
        <a href="/details?product=bedroom" target="_blank" class="abtn">View Details</a>
      </div>
    </div>
  </div>
    </div>
    </div>
    <!--dresses-->
    <div id="dress" class="show">
    <h2 class="font-weight-bold mb-2">Dresses</h2>
    <p class="font-italic text-muted mb-4">Discover the latest fashion trends with our collection of dresses. Whether you're looking for casual wear, formal attire, or something in between, our range of stylish and comfortable dresses has something for every occasion.</p>
    <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card rounded shadow-sm border-0 custom-card">
              <div class="card-body p-4 pb-5">
                <img src="/img/g-shirt.jpeg" alt="shirt" class="img-fluid d-block mx-auto mb-3">
                <h5>Checked Shirt</h5>
                <p class="small text-muted font-italic">Timeless maxi dresses that blend grace with effortless charm, perfect for any occasion.</p>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                </ul>
                <a href="/details?product=shirt" target="_blank" class="abtn">View Details</a>
              </div>
            </div>
          </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card -->
        <div class="card rounded shadow-sm border-0 custom-card">
          <div class="card-body p-4 pb-5">
            <img src="/img/g-pant.jpeg" alt="jean pant" class="img-fluid d-block mx-auto mb-3">
            <h5>Jean pant</h5>
            <p class="small text-muted font-italic">Sleek and sophisticated cocktail dresses designed to make a statement at your next soirée.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            </ul>
            <a href="/details?product=pant" target="_blank" class="abtn">View Details</a>
          </div>
        </div>
      </div>
  
     <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
  <!-- Card -->
  <div class="card rounded shadow-sm border-0 custom-card">
    <div class="card-body p-4 pb-5">
      <img src="/img/g-saree.jpeg" alt="saree" class="img-fluid d-block mx-auto mb-3">
      <h5>Saree</h5>
      <p class="small text-muted font-italic">Effortlessly stylish casual dresses that offer comfort without compromising on style.</p>
      <ul class="list-inline small">
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
      </ul>
      <a href="/details?product=saree" target="_blank" class="abtn">View Details</a>
    </div>
  </div>
</div>
  
<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
    <!-- Card -->
    <div class="card rounded shadow-sm border-0 custom-card">
      <div class="card-body p-4">
        <img src="/img/g-chudidar.jpeg" alt="chudidar" class="img-fluid d-block mx-auto mb-3">
        <h5>Chudidar</h5>
        <p class="small text-muted font-italic">Light and airy summer dresses designed to keep you cool and stylish during sunny days.</p>
        <ul class="list-inline small">
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        </ul>
        <a href="/details?product=chudidar" target="_blank" class="abtn">View Details</a>
      </div>
    </div>
  </div>
    </div>
    </div>
    <!--cosmetics-->
    <div id="cosmetic" class="show">
    <h2 class="font-weight-bold mb-2">Cosmetics</h2>
    <p class="font-italic text-muted mb-4">Enhance your beauty routine with our premium selection of cosmetics. From luxurious skincare products to vibrant makeup essentials, find everything you need to look and feel your best, tailored to suit every skin type and preference.</p>
    <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="card rounded shadow-sm border-0 custom-card">
              <div class="card-body p-4">
                <img src="/img/g-foundation.jpeg" alt="foundation" class="img-fluid d-block mx-auto mb-3">
                <h5>Flawless Foundation</h5>
                <p class="small text-muted font-italic">Achieve a flawless complexion with our range of lightweight and buildable foundations, perfect for every skin type.</p>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                </ul>
                <a href="/details?product=foundation" target="_blank" class="abtn">View Details</a>
              </div>
            </div>
          </div>
  
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card -->
        <div class="card rounded shadow-sm border-0 custom-card">
          <div class="card-body p-4">
            <img src="/img/g-lipstick.jpeg" alt="lipstick" class="img-fluid d-block mx-auto mb-3">
            <h5>Vibrant Lipstick Shades</h5>
            <p class="small text-muted font-italic">Discover our collection of rich and long-lasting lipstick shades that complement every mood and occasion.</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
            </ul>
            <a href="/details?product=lipstick" target="_blank" class="abtn">View Details</a>
          </div>
        </div>
      </div>
  
     <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
  <!-- Card -->
  <div class="card rounded shadow-sm border-0 custom-card">
    <div class="card-body p-4">
      <img src="/img/g-palette.jpeg" alt="Eyeshadow palettes" class="img-fluid d-block mx-auto mb-3">
      <h5>Eyeshadow Palettes</h5>
      <p class="small text-muted font-italic">Create endless eye looks with our curated eyeshadow palettes featuring a mix of matte, shimmer, and satin finishes.</p>
      <ul class="list-inline small">
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
      </ul>
      <a href="/details?product=eyeshadow" target="_blank" class="abtn">View Details</a>
    </div>
  </div>
</div>
  
<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
    <!-- Card -->
    <div class="card rounded shadow-sm border-0 custom-card">
      <div class="card-body p-4">
        <img src="/img/g-makeup.jpeg" alt="skincare sets" class="img-fluid d-block mx-auto mb-3">
        <h5>Revitalizing Skincare Sets</h5>
        <p class="small text-muted font-italic">Nourish and rejuvenate your skin with our luxurious skincare sets, crafted with natural ingredients for radiant results.</p>
        <ul class="list-inline small">
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
        </ul>
        <a href="/details?product=skincare" target="_blank" class="abtn">View Details</a>
      </div>
    </div>
  </div>
    </div>
    </div>
</div>
<%- include('./partial/footer.ejs') %>


<%- include('./partial/script.ejs') %>

</body>
</html>