<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css">
    <title>FlipZon || SignUp </title>
</head>
<body>
    <div class="card">
        <h2>FlipZon</h2>
        <div class="login_register">
            <a href="/signin" class="login" >SignIn</a>
            <a href="/signup" class="register">Signup</a>
        </div>

        <form class="form">
            <input type="email" placeholder="Email Address" class="email">
            <input type="password" placeholder="password" class="pass">
            <input type="password" placeholder="Confirm Password" class="confirm_pass">
        </form>

        <a href="#" class="fp">Forgot password?</a>

            <button type="submit" class="login_btn">Sign-Up</button>
    </div>
        
</body>
</html>