<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css">
    <title>FlipZon || SignUp </title>
</head>
<body>
    <div class="card">
        <h2>FlipZon</h2>
        <div class="login_register">
            <a href="/signin" class="login" >SignIn</a>
            <a href="/signup" class="register">Signup</a>
        </div>

        <form class="form" method="POST" action="/signup">
            <input type="email" name="email" placeholder="Email Address" class="email">
            <div class="email error"></div>
            <input type="text" name="name" placeholder="Username" class="email">
            <div class="name error"></div>
            <input type="password" name="password" placeholder="password" class="pass">
            <div class="password error"></div>
            <!-- <input type="password" placeholder="Confirm Password" class="confirm_pass"> -->
        

            <input type="submit" value="Sign-Up" class="login_btn">
        </form>
            
    </div>
        <script>
            const form = document.querySelector('form');
            const emailError = document.querySelector('.email.error')
            const passwordError = document.querySelector('.password.error')
            const nameError = document.querySelector('.name.error')


            form.addEventListener('submit',async(e)=>{
                e.preventDefault();

                emailError.textContent = '';
                passwordError.textContent = ''; 
                nameError.textContent = '';


                const email = form.email.value;
                const name = form.name.value;
                const password = form.password.value;

                try{
                    const res = await fetch('/signup',{
                        method:'POST',
                        body : JSON.stringify({email,name,password}),
                        headers : {'content-type':'application/json'}
                    })
                    const data = await res.json();
                    console.log(data)
                    if(data.errors){
                        emailError.textContent = data.errors.email;
                        nameError.textContent = data.errors.name;
                        passwordError.textContent = data.errors.password;
                    }
                    if(data.tempUserId){
                        location.assign(`/otp?tempUserId=${data.tempUserId}&email=${email}`);
                    }
                }
                catch(err){
                    console.log(err)
                }
            })
        </script>
</body>
</html>
