
.product{
    padding: 40px;
}
.product h1{
    text-align: center;
    font-size: 4rem;
}
.cat{
    display: flex;
    justify-content: center;
}
.cat .active{
    background: linear-gradient(to right, #23bb62, #1fc5c1);
    color: white;
}
.cat button{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: white;
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    margin: 4vh 2vw;
}
.custom-card {
    background-color: black;
    color: white;
  }
  .custom-card a {
    color: white; 
  }
  .abtn{
    background-color: white;
    color: black !important;
    padding: 5px 10px;
    border-radius: 5px
  }
 .product .show.active{
    display: block;
  }
  .product .show{
    display: none;
  }

.abc {
    padding-left: 40px
}

.pqr {
    padding-right: 70px;
    padding-top: 14px
}

.para {
    float: right;
    margin-right: 0;
    padding-left: 80%;
    top: 0
}

.fa-star {
    color: rgb(0, 255, 21);
}

.li {
    list-style: none;
    line-height: 50px;
    color: #ffffff
}

.col-md-2 {
    padding-bottom: 20px;
    font-weight: bold
}

.col-md-2 a {
    text-decoration: none;
    color: #ffffff
}

.col-md-2.mio {
    font-size: 12px;
    padding-top: 7px
}

.des::after {
    content: '.';
    font-size: 0;
    display: block;
    border-radius: 20px;
    height: 6px;
    width: 55%;
    background: rgb(0, 255, 21);
    margin: 14px 0
}

.r4 {
    padding-left: 25px
}

.btn-outline-warning {
    border-radius: 0;
    border: 2px solid rgb(0, 255, 21);
    color: #000;
    font-size: 12px;
    font-weight: bold;
    width: 70%
}
.buy{
  border: 2px solid rgb(0, 255, 21);
}
.buy:hover{
  background-color: rgb(0, 255, 21) !important;
}

@media screen and (max-width: 620px) {

    .cat button{
        color: rgb(0, 0, 0);
        font-weight: bold;
        background: white;
        border: 2px solid black;
        padding: 8px;
        text-decoration: none;
        border-radius: 8px;
        margin: 4vh 1vw;
    }
    .container {
        width: 98%;
        display: flex;
        flex-flow: column;
        text-align: center
    }

    .des::after {
        content: '.';
        font-size: 0;
        display: block;
        border-radius: 20px;
        height: 6px;
        width: 35%;
        background: rgb(0, 255, 21);
        margin: 10px auto
    }

    .pqr {
        text-align: center;
        margin: 0 30px
    }

    .para {
        text-align: center;
        padding-left: 90px;
        padding-top: 10px
    }

    .klo {
        display: flex;
        text-align: center;
        margin: 0 auto;
        margin-right: 40px
    }
} 