@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
  }
  html{
    scroll-behavior: smooth;
  }
.navbar {
    background: linear-gradient(to right, #23bb62, #1fc5c1)!important;
    transition: 0.8s;
}
#logo{
    font-size: 30px;
    padding: 10px;
    color: white !important;
    font-family: 'Ubuntu', sans-serif !important;
}
.nav-link{
    margin: 0 15px;
    color: white !important;
    font-family: 'Ubuntu', sans-serif !important;
}
.nav-link:hover{
    text-decoration: underline;
}
#in,#up{
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    color: black !important;
}
#in:hover,#up:hover{
    background-color: rgb(167, 255, 159);
}
.navbar-toggler {
    border: 2px solid white !important; /* Remove border if you don't want it */
}

.navbar-toggler-icon {
    color: #fff !important;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000000 !important;
    z-index: 1000;
    transition: 0.8s;
}

.sticky .navbar-brand,
.sticky .nav-link {
    color: white !important;
}

.head{
    min-height: 90vh;
    background: linear-gradient(to right, #23bb62, #1fc5c1);
    display: flex;
    justify-content: space-between;
}
.head .content{
    width: 100%;
    margin: 4% 0% 0% 7%;
}
.head .content h1{
    color: white;
    font-weight: bold;
    font-size: 80px;
    width: 90%;
    line-height: 1;

}
.head .content p{
    color: white;
    width: 85%;
    font-size: 20px;
    margin-top: 4vh;
    margin-bottom: 7vh;
}
.head .content a{
    color: black;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px
}
.head .head-pic{
    margin:  auto 5vw;
    width: 60%;
    height: 60%;
}
.discover{
    padding: 20vh 0vw;
    text-align: center;
}
.discover h1{
    
    margin: 0 auto;
    width: 60%;
    font-size: 4rem;
}
.discover p{
    margin: 4vh auto;
    font-size: 20px;
    color: gray;
    width: 70%;
}
.custom-carousel {
    width: 60%; 
    margin: 0 auto; 
  }
  .custom-carousel .carousel-inner img {
    height: 70vh;
    object-fit: cover; 
  }
  .special {
    background: linear-gradient(to right, #23bb62, #1fc5c1);
    padding: 10% 3% 7% 3%;
    text-align: center;
}

.special h1 {
    color: white;
    font-size: 3rem;
}

.carrd {
    position: relative;
    display: inline-block;
    margin: 5% 2%;
    width: 30%; 
    max-width: 200px; 
    height: auto;
    overflow: hidden;
    background-color: #f0f0f0; 
}
.carrd img {
    width: 100%;
    height: 50vh;
}

.special .off {
    position: absolute;
    bottom: 0; 
    left: 1.5vw;
    background-color: rgba(255, 255, 255); 
    padding: 1px; 
    width: 80%;
    text-align: center;
}
.carrd h6 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red; 
    color: #fff;
    padding: 0.5em 1em;
    margin: 0;
    font-size: 1rem;
}
.special .off h4 {
    color: #000;
    font-size: 1.2rem; 
    margin-top: 2vh; 
    font-family: 'Courier New', Courier, monospace;
}

.special .off p {
    font-size: 1rem;
}
.special span{
    text-decoration: line-through;
}
.special a{
    color: #000;
    background-color: white;
    padding: 10px 15px;
    width: 20%;
    margin: 1em auto 0 auto;    
    border-radius: 8px;
    text-decoration: none;
    transition: 0.9s;
    display: block; 
}
.special a:hover{
    background-color: black;
    color: white;
    transition: 0.9s;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
#card1{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.prof{
    display: flex;
    justify-content: center;
}
.edit a{
    background-color: #23bb62;
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}
.logout a{
    margin-left: 4vh;
    background-color: rgb(207, 46, 46);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

@media (max-width: 768px) {
    #in,#up{
        margin-top: 1vh;
        width: 20vw;
    }
    .head{
    min-height: 100%;
    display: block;
    justify-content: center;
}
.head .content{
    margin: 0% 0% 0% 0%;
    padding: 4vh 0vw;
}
.head .content h1{
    font-size: 45px;
    width: 80%;
    margin: auto;
    text-align: center;

}
.head .content p{
    text-align: center;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
.head .content a{
    display: flex;
    justify-content: center;
    width: 35vw;
    margin: auto;
}
.head .head-pic{
    margin:  auto 10vw;
    padding-bottom: 20px;
    width: 80%;
    height: 80%;
}
.head .head-pic img{
   display: none;
   width: 100%;
   height: 100%;
}
.discover{
    padding: 7vh 0vw;
}
.discover h1{
    width: 80%;
    font-size: 2.5rem;
}
.discover p{
    margin: 3vh auto;
    font-size: 17px;
    width: 90%;
}
.custom-carousel {
    width: 80%; 
  }
  .custom-carousel .carousel-inner img {
    height: 30vh;
    object-fit: cover; 
  }
  .special {
    padding: 10% 2% 7% 2%;
}

.carrd {
    margin: 3% 2%;
    width: 40%; 
}
.carrd img {
    height: 30vh;
}

.special .off {
    position: absolute;
    bottom: 0; 
    left: 4vw;
    padding: 1px; 
    width: 80%;
}
.special .off h4 {
    font-size: 1rem; 
    margin: 0vh;
    padding-top: 1vh; 
}

.special .off p {
    font-size: 1rem;
    margin: 0;
}
.special a{
    width: 50%;
}
#myBtn {
    right: 10vw;
    padding: 20px;
}
#card1.card{
    width: 90vw;
    padding: 0%;
    text-align: left;
}
#cont .row{
    margin-left: -50px;
}
#card1 strong{
    font-size: 20px !important;
}
#card1 P{
    font-size: 20px !important;
}
.prof{
    margin-top: 3vh;
}
#footpro,#footpro hr{
    display: none;
}
footer hr{
    display: none;
}
}