<footer class="text-center text-lg-start text-white" id="contact" style="background-color: #2c2c2c; width: 100%;">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">FlipZon</h6>
            <p>Flipzon is your ultimate online shopping destination, offering a wide range of products from electronics to fashion at unbeatable prices. </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p>
              <a href="product" class="text-white">Gadgets</a>
            </p>
            <p>
              <a href="product" class="text-white">Furnitures</a>
            </p>
            <p>
              <a href="product" class="text-white">Dresses</a>
            </p>
            <p>
              <a href="product" class="text-white">Cosmetics</a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Batlagundu, Tamilnadu, India</p>
            <p><i class="fas fa-envelope mr-3"></i> santhoshcse18@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +91 9344063583</p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ec2ec3" href="#!" role="button"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>
          </div>
        </div>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="#">FlipZon</a>
    </div>
  </footer>
  